@font-face {
  font-family: 'LoveSong';
  src: url('../font/Mf Love Song.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CocogooseProLight';
  src: url('../font/Cocogoose Pro Light-trial.ttf') format('truetype');
}

body {
    color: #333;
    background: rgb(255,165,204);
    background: radial-gradient(circle, rgba(255,165,204,1) 0%, rgba(120,182,255,1) 100%);
    font-family: "Poppins", sans-serif;
    justify-content: center;
    display: flex;
    padding: 50px;
    font-size: 2.3vmin !important;
}

h2 {
    font-size: 5vmin;
    margin: 0 0 30px;
    color: #102339;
    font-family: 'LoveSong', sans-serif;
}

.container {
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.form-container {
    background: #feffff;
    border-radius: 15px;
    padding: 35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 50%;
    text-align: center;
    
}

.register-form h2 {
    margin: 20px 0 20px;
    color: #333;
}

.form-group {
    margin: 10px 20px 10px 20px;
    display: flex;
    flex-direction: column;
}


.form-select{
    width: 40% !important;
    border: 1px solid #ccc;
    border-radius: 50px !important;
    display: flex;
    font-family: 'CocogooseProLight', sans-serif;
    font-size: 2vmin !important;
}

label {
    width: 100%; /* Full width for labels */
    color: #333;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 5px;
    font-family: 'CocogooseProLight', sans-serif;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
}

button {
    margin: 20px !important;
    width: 50%; /* Set width to 60% */
    padding: 10px;
    background: #5c9be3 !important;;
    color: #feffff;
    border: none;
    cursor: pointer;
    
}

.btn-rounded {
    border-radius: 50px !important; /* Adjust this value based on your preference */
    font-family: 'CocogooseProLight', sans-serif !important;
    font-size: 2.3vmin !important;
}

button:hover {
    background-color: #5a86b7 !important;
}

p {
    margin: 20px 0 0;
    font-family: 'CocogooseProLight', sans-serif !important;
}

a {
    color: #5c9be3 !important;;
    text-decoration: none;
    font-family: 'CocogooseProLight', sans-serif !important;
}

/* Media queries untuk tampilan responsif */
@media screen and (max-width: 768px) {
    .form-container {
        width: 80%;
    }
}

@media screen and (max-width: 480px) {
    .form-container {
        width: 100%;
        padding: 10px;
    }

    .login-form h2 {
        font-size: 20px;
    }
}
